$font-gotham: "Gotham Pro", "Arial", sans-serif;
$font-open: "Open Sans", "Arial", sans-serif;
$font-akrobat: "Akrobat", "Arial", sans-serif;

$top-nav-bg: #f2f2f2;
$primary-color: #005aab;
$secondary-color: #0094da;
$title-color: #19446b;
$text-color: #000;
$card-text-color: #3a3a3a;
$element-color: #ffdf2c;
$important-color: #ad262e;
$quote-border-color: #e3f6ff;
$table-header-color: #ededed;
$box-border-color: #d1d1d1;
$doc-size-color: #666666;